# vs code
.vscode/

# python virtual environment
.venv/

# .pyc
**/__pycache__/

# egg packages and build
build/
dist/
*.egg-info/

# coverage
**/.coverage
**/htmlcov/

# docker data (mounted volumes)
.docker_data/

# prod files
.config/pricewatch.prod.ini
docker-compose.prod.yml

# django admin templates (for reference only)
**/templates/_admin/

# node.js modules in /frontend/node_modules
**/frontend/node_modules
# webpack build file
**/frontend/main.js
