{% extends 'frontend/base.html' %}
{% block main_container %}
{% load crispy_forms_tags %}
<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Reset Password</h1>
</div>
<div class="card-deck mb-3">
  <div class="card mb-12 shadow-sm">
    <div class="card-body">
      <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
          {{ form|crispy }}
        </fieldset>
        <div class="form-group">
          <button class="btn btn-outline-info" type="submit">Reset Password</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
