# Default Homebrew MySQL server config
[mysqld]
# Only allow connections from localhost
bind-address = 127.0.0.1
mysqlx-bind-address = 127.0.0.1
##
[client]
database = amzbot
user = root
password = qwer1234
default-character-set = utf8
